img {
    height: auto;
    width: 300px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 200vh;
    background-image: url(images/sand.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Nuosu SIL', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row-one,
.row-two,
.row-three,
.row-four {
    flex-grow: 1;
}

/* Header start */

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-logo {
    width: 50px;
    height: 50px;
    border: solid rgb(3, 80, 80) 2px;
    border-radius: 50%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 50px;
    font-weight: 600;
}

header a {
    text-decoration: none;
    color: rgb(2, 49, 49);
}

/* Header end */

/* Row one start */

.row-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro-container {
    height: 300px;
    width: 550px;
    color: rgb(2, 49, 49);
}

.intro-container p {
    font-weight: 600;
    color: rgb(3, 80, 80);
}

.sign-up {
    padding: 5px 30px;
    border: 3px rgb(2, 49, 49) solid;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(2, 49, 49);
    font-weight: 600;
}

.sign-up:hover {
    background-color: #006994;
    box-shadow: 0 0 10px;
}

.row-one img {
    border: 2px solid rgb(3, 80, 80);
    border-radius: 10px;
    height: 300px;
    width: auto;
}

/* Row one end */

/* Row two start */

.row-two {
    background-color: rgba(2, 49, 49, .8);
    box-shadow: 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row-two h2 {
    text-align: center;
    font-size: 32px;
    color: #528396;
}

.button-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row-two button {
    padding: 0;
    border: none;
    height: 300px;
    width: 250px;
    margin: 20px;
    background-color: transparent;
}

.button-img {
    width: 250px;
    height: 200px;
    border: #006994 double 5px;
    border-radius: 20px;
}

.button-text {
    padding: 20px;
    color: #528396;
    font-size: 18px;
}

/* Row two end */

/* Row three start */

.row-three {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: rgba(3, 80, 80, .2);
    color: rgb(2, 49, 49);
    font-weight: 600;
    font-size: 24px;
    line-height: 2;
    box-shadow: 0 0 30px inset, 0 0 20px;
}

/* Row three end */

/* Row four start */

.row-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    display: flex;
    background-color: rgba(0, 94, 184, .4);
    color: rgb(2, 49, 49);
    box-shadow: 0 0 5px;
    border-radius: 10px;
    height: 150px;
    width: 800px;
    justify-content: space-around;
    align-items: center;
}

.sign-up-box-text h3 {
    font-weight: 900;
    font-size: 24px;
}

.sign-up-box-text p {
    font-weight: 600;
}

.sign-up-box .sign-up:hover {
    background-color: rgb(74, 167, 167);
}

/* Row four end */

/* Footer start */

footer {
    justify-self: flex-end;
    text-align: center;
    padding: 30px;
    background-color: rgba(3, 80, 80, .2);
    color: rgb(3, 80, 80);
    font-weight: 600;
    box-shadow: 0 0 20px, 0 0 20px inset;
}